<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
    <div class="form-container">
        <h1>This is Weather App</h1>
        <form>
            <label for="textbox">City Name:</label>
            <input type="text" id="textbox" name="city" class="textbox">
            <button type="submit" class="submit-button">Submit</button>
        </form><br/>
        <div class="display">Weather is</div>
    </div>
</body>
</html>